/* ! Cabeçalho */
.cabecalhoPrincipal-nav {
  display: flex;
}

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ! Rodapé */
.rodapePrincipal-patrocinadores .container {
  display: flex;
}

.rodapePrincipal-patrocinadores-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

/* ! Course Map */

.rodapePrincipal-navMap-list {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  /*? Simplificado */
  flex-flow: column wrap;
  height: 250px;
}

/* ! Course Grid */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* display: grid;
    grid-template-areas: "1fr 1fr 1fr 1fr";
    column-gap: 20px;
    row-gap: 20px; */
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}